@use '../../assets/sass' as *;

.Summary {
    @include moveDown;
    display: grid;
    grid-template-columns: 35rem 1fr;
    grid-template-rows: max-content;

    @include respond(xs) {
        grid-template-columns: 100vw;
    }

    &__left {
        position: relative;
        z-index: 2;
        padding: 3rem 0;
        height: 85rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $pitch;
        box-shadow: 1rem 0 2rem rgba($pitch, .45), inset 0 0 1rem rgba($pitch, .35);

        @include respond(sm) { height: 100%; }

        @include respond(xs) {
            height: max-content;
            width: 100%;
            justify-content: initial;
        }

    }

    &__left,
    &__right {
        @include respond(xs) {
            width: 100%;
        }
    }

    &__right {
        @include gradienty;
        display: grid;
        grid-template-rows: max-content 1fr max-content;
    }

    &__head {
        padding: 3rem;
        background: $black;
    }

    &__body { padding: 5.5rem 3rem; }

    &__footer {
        display: flex;
        justify-content: flex-end;
        background: $black;
        height: 10rem;
        padding: 3rem;
        box-shadow: inset 0 -1rem 1rem rgba($pitch, .15);
    }
    
    &__list {
        width: 100%;
        position: relative;
        align-items: center;
    }
    
    &__item {
        display: flex;
        justify-content: center;
    }

    &__figure {
        width: 100%;
        height: auto;
        
        @include respond(xs) { width: 55%; }
    }

    &__form {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        column-gap: 2.5rem;
        row-gap: 5.5rem;

        @include respond(mid) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }
        
        @include respond(sm) { row-gap: 4.5rem; }

        @include respond(xs) { row-gap: 2.5rem; }
    }

    &__btn-control {
        
        &:first-of-type { left: 1.5rem; }

        &:last-of-type { right: 1.5rem; }
    }

    &__wrapper {
        width: 100% !important;
        height: 25rem !important;
        border-radius: .55rem;
        overflow: hidden;

        @include respond(sm) { height: 35rem !important; }
    }
    
    &__cards {
        width: 100%;
        padding: 0 1.5rem;
        border-radius: .55rem;
        overflow: hidden;

        @include respond(xs) { margin-bottom: 2.5rem; }
    }

    &__card-title {
        color: $white;
        font-size: 1.5rem;
        
        &--sub {
            font-size: 1.35rem;
            color: $grey-light;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $grey-dark;
        width: 100%;
        border-radius: .55rem;
        box-shadow: 0 0 .75rem rgba($pitch, .75);
        height: 6.5rem;
        padding: 0 1rem;
        padding-left: 1.25rem;
        border: 2px solid transparent;

        &:not(:last-child) { margin-bottom: 1.5rem; }

        &:hover,
        &:focus {
            border-color: $primary;

            .price-tag { background: $primary; }
        }
    }
    
    &__card:hover &__card-title,
    &__card:focus &__card-title {
        color: $primary-light;

        &--sub { display: none; }
    }

    &__card:hover &__card-btn,
    &__card:focus &__card-btn { background: rgba($red, .85) !important; }

    &__dropdown {
        display: none;
        padding: 1rem;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background: $grey-light;
        border-radius: .55rem;
        box-shadow: 0 0 .75rem rgba($pitch, .7);
    }

    &__drop-item {
        width: 100%;
        padding: 1.1rem 1.5rem;
        font-size: 1.35rem;
        color: $light;
        border-radius: inherit;
        background: $black;
        border: 2px solid transparent;
        transition: border-color .2s ease;
        
        &:not(:last-child) { margin-bottom: 1rem; }

        &:hover,
        &:focus { border-color: $primary; }
    }

    &__input:focus + &__dropdown { display: block; }
    &__input:focus .icon { transform: rotate(180deg); }

    &__btn {
        background: $gradient-light;
        font-size: 1.5rem;
        text-transform: uppercase;

        &:hover,
        &:focus { background: $gradient-light; }
    }
    
    &__price-tag {
        padding: 1.25rem 2rem;
        font-size: 1.55rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__card-btn { padding: .85rem; }
}