@use '../../assets/sass' as *;

.Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    background: $black;
    border-radius: .55rem;
    box-shadow: 0 0 1.75rem rgba(#000, .9);
    z-index: 101;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $light;

    &__head,
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem 3.5rem;
        width: 100%;
        background: $pitch;
    }
    
    &__footer {
        justify-content: flex-end;
        padding: 1.75rem 3.5rem;
        min-height: 7.5rem;
    }

    @include respond(mid) {
        border-radius: 0;
        width: 100vw;
        height: 100vh;

        &__head,
        &__footer { padding: 2.5rem; }
    }

    &__title {
        font-size: 2.15rem;
        color: $white;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 3.5rem;
        width: 100%;
        height: 100%;

        @include respond(ms) { padding: 0 1.5rem; }
    }
    
    &__body {
        width: 100%;
        height: 35rem !important;

        @include respond(mid) { height: 100% !important; }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba($pitch, .3);
        padding: .85rem;
    }
    
    &__name {
        color: $light;
        font-size: 1.6rem;

        &--sub {
            color: $grey-light;
            font-size: 1.3rem;
        }
    }

    &__figure {
        display: flex;
        align-items: center;
        width: 6rem;
        height: auto;
        margin-right: .5rem;
    }

    &__btn { padding: 1rem 2rem; }

    &__spinner {
        align-self: center;
        margin-top: 20%;
        border-color: rgba($white, .5);
        border-top-color: $primary;
    }
}