@use '../../assets/sass' as *;

.Card {
    padding: 1.5rem 2rem;
    background: $grey-light;
    box-shadow: 1.5rem .75rem 1.5rem rgba(#000, .075);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 26rem;
    border-radius: 1rem;
    position: relative;
    animation-delay: .3s;
    
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 104%;
        height: 104%;
        background: $gradient-grace-yellow;
        border-radius: 1rem;
        z-index: -1;
        animation-delay: 1s;
        transition: all .45s ease;
    }

    &:hover::after,
    &:focus::after { background: rgba($yellow, .9); }

    &__head {
        width: 100%;
        margin-bottom: 2rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    &__figure {
        width: 100%;
        height: 12.5rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

[data-premium=true] { background: $gradient-card-premium; }

[data-favorite=true] {

    &::after { background: $gradient-grace-primary; }

    &:hover::after { background: $primary; }
}