@use '../../assets/sass' as *;

.Info {
    @include moveDown;


    &__logo-figure {
        width: 15rem;
        height: auto;
        margin-right: 4rem;
    }

    &__logo-img {
        width: 100%;
        height: 100%;
    }
}