@use '../../assets/sass' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($pitch, .7);
    backdrop-filter: blur(5px);

    @include respond(sm) { backdrop-filter: initial; }

    &--transparent { background: transparent; }
}