@use '../../assets/sass' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($pitch, .7);
    // backdrop-filter: blur(3px);

    // @include respond(sm) { backdrop-filter: initial; }
    // @include respond(sm) { backdrop-filter: blur(1px); }

    &--transparent { background: transparent; }
}