@use '../../assets/sass' as *;

.Main {
    @include moveDown;
    @include gradienty;
    width: 100%;

    &__body {
        position: relative;
        width: 100%;
        height: 73rem;
        display: flex;

        // @include respond(mid) {
        //     height: 70vw;
        // }
    }

    &__left,
    &__right {
        width: 50%;
        height: 100%;
        background: $bg;
        color: #fff;
    }

    &__right { @include gradienty; }

    &__left {
        background: $pitch;
        position: relative;
    }

    &__content {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        z-index: 1;
    }
    
    &__content-wrapper {
        width: 100%;
        display: flex;
        height: 58rem;
        border-radius: .55rem;
        overflow: hidden;
        box-shadow: .75rem .75rem 1.5rem rgba(#000, .7);

        // @include respond(mid) {
        //     height: 80%;
        // }
    }

    &__content-wrapper &__left,
    &__content-wrapper &__right {
        // padding: 6rem 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    &__content-wrapper &__right {

        // @include respond(mid) { padding: 4rem 7rem; }

        &::after { content: none; }
    }

    &__content-wrapper &__left {
        justify-content: space-between;
        padding: 6rem 0;

        &::after {
            content: "";
            background: transparent;
            display: inline-block;
            border-width: 4rem 1.8rem 4rem 4rem;
            border-style: solid;
            border-color: transparent $pitch transparent transparent;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: -5.4rem;
            transform: translateY(-50%);
        }
    }

    &__footer {
        height: 30rem;
        background: $light;
    }

    &__figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 35rem;
        margin-bottom: 1rem;
        user-select: none;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__colorset {
        display: flex;
        align-items: center;
        color: $white;
        padding: 1rem 1.5rem;
        background: $pitch;
        font-size: 1.1rem;
        border-radius: .55rem;
        box-shadow: 0 0 .75rem rgba(#000, .7);

        &:focus { 
            background: $primary;
            color: $black;
            border-radius: .55rem .55rem 0 0;

            svg { fill: $black; }
        }
    }

    &__sets {
        width: 32rem;
        // width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        // @include respond(mid) { width: 100%; }
    }

    &__sets-body,
    &__sets-wrapper {
        width: 100%;
        height: 100%;
    }

    &__sets-wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: repeat(3, 9rem) / repeat(3, 1fr);
        gap: 2rem;

        // @include respond(mid) {
        //     grid-template: repeat(3, 8.15vw) / repeat(3, 1fr);
        //     gap: 1rem;
        // }
    }

    &__sets-item {
        border-radius: .55rem;
        background: $grey-light;
        box-shadow: 0 0 .75rem rgba($pitch, .9);
        cursor: pointer;
        position: relative;

        &--active {
            background: rgba($white, .3);

            &:hover { background: rgba($white, .3); }
        }
    }
    
    &__tooltip {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $yellow;
        color: $black;
        border-radius: .55rem;
        width: 10.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.3rem;
        box-shadow: 0 0 .75rem rgba(#000, .5);
        transform-origin: center;
        padding: .75rem 1rem;
        opacity: 0;
        transition: opacity .15s ease;
    }
    
    &__sets-item:hover &__tooltip { opacity: 1; }
    
    &__sets-item:nth-child(3n+1) &__tooltip,
    &__sets-item:first-child &__tooltip {
        left: 0;
        transform: translateY(-50%);
        border-radius: 0 .55rem .55rem 0;
        transform-origin: left;
    }
    
    &__sets-item:nth-child(3n) &__tooltip {
        left: initial;
        right: 0;
        transform: translateY(-50%);
        border-radius: .55rem 0 0 .55rem;
        transform-origin: right;
    }

    &__sets-item--active &__tooltip {
        opacity: 1;
        visibility: visible;
    }

    &__summary {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }
    
    &__price {
        display: flex;
        align-items: center;
        height: 5rem;
        font-size: 1.55rem;
        padding: 2.6rem;
        font-weight: 300;
        border-radius: .55rem 0 0 .55rem;
        background: $black;
        box-shadow: 0 0 1rem rgba(#000, .5);
        margin-right: -.5rem;
        animation: slideLeft .2s ease-in-out;
    }

    &__btn {
        position: relative;
        z-index: 1;
        background: $gradient-main;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 300;
        color: $white;
        padding: 1.75rem;
        border-radius: .55rem;
        font-size: 1.5rem;
        width: max-content;
        box-shadow: 0 0 1rem rgba(#000, .5);
        transition: transform .3s ease;

        svg { transition: transform .25s ease-in-out; }

        &:disabled {
            cursor: default;
            opacity: .65;
        }
        
        &:hover,
        &:focus { transform: scale(1.025); }
        
        &--active {
            background: $primary;
            cursor: default;
            opacity: .85;

            &:hover,
            &:focus { transform: none; }
        }
    }

    &__btn-control {

        @include respond(mid) {
            &:first-of-type { left: -2rem; }

            &:last-of-type { right: -2rem; }
        }
    }

    &__right-panel {
        display: flex;
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__icon {
        width: 1.8rem;        
        height: 1.8rem;        
    }
}