@use '../../assets/sass' as *;

.Footer {
    @include gradienty;
    position: relative;
    z-index: 96;
    width: 100%;

    &::after { background: linear-gradient(130deg, $pitch 80%, rgba($yellow, .2)); }

    &__head {
        background: $black;
        height: 6.5rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    &__bread-item {
        display: flex;
        align-items: center;
        font-size: 1.45rem;
        color: $light;
        font-size: 300;
        text-transform: capitalize;

        &:not(:last-child) { margin-right: 1.25rem; }

        &:not(.Footer__bread-item--active):hover {
            color: $yellow;
            svg { fill: $yellow; }
        }

        svg {
            width: 2.25rem;
            height: 2.25rem;
        }

        &--active { color: $grey-dark; }
    }

    &__i { fill: $primary; }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
        position: relative;
    }

    &__text {
        display: inline-block;
        color: $grey-dark;
        text-align: center;
        max-width: 50rem;
    }

    &__title {
        color: $light;
        font-size: 1.45rem;
        display: inline-block;
    }

    &__link {
        color: $grey-dark;
        font-size: 1.45rem;

        &:hover { color: $grey-light; }

        &:not(:last-child) { margin-right: 1.5rem; }
    }

    &__item:not(:last-child) { margin-right: .75rem; }

    &__language {
        display: flex;
        align-items: center;

        &:focus { box-shadow: 0 0 .75rem rgba($pitch, .3); }

        &--desktop {
            @include respond(ms) { display: none; }
        }

        &--mob {
            display: none;
            
            @include respond(ms) { display: inline-block; }
        }
    }

    &__language:focus + &__lang-drop {
        opacity: 1;
        visibility: visible;
    }

    &__language:focus + &__lang-drop &__drop-item { display: inline-block; }

    &__lang-drop {
        opacity: 0;
        visibility: hidden;
        padding: 1rem;
        background: $grey-dark;
        display: flex;
        flex-direction: row-reverse;
        transition: opacity .3s ease;
        position: absolute;
        top: 115%;
        right: 0;
        border-radius: .55rem;
        box-shadow: 0 0 .75rem rgba($pitch, .3);

        @include respond(ms) {
            right: 50%;
            transform: translateX(50%);
            flex-direction: column-reverse;
            align-items: stretch;
        }
    }

    &__drop-item {
        display: none;
        padding: 1rem 2rem;
        color: $light;
        font-size: 1.35rem;
        background: $bg;
        border-radius: .55rem;
        box-shadow: 0 0 .5rem rgba($pitch, .3);
        animation-timing-function: ease-in-out;
        text-align: center;
        animation-duration: .2s;

        &:first-child { animation-delay: .15s; }

        &:nth-child(2) { animation-delay: .25s; }

        &:last-child { animation-delay: .35s; }

        &:not(:last-child) { margin-left: 1rem; }
        
        @include respond(ms) {
            width: 100%;
            margin: 0 !important;

            &:not(:last-child) { margin-top: 1rem !important; }
        }
    }

    &__tag {
        display: inline-block;
        width: max-content;
        font-size: 1.4rem;

        &--active {
            background: $black !important;
            color: $yellow !important;
        }

        @include respond(sm) { margin-bottom: 1.5rem; }
    }

    &__appdev {
        position: absolute;
        top: 100%;
        right: 0;
        font-size: 1.55rem;
        color: $black;

        &:hover,
        &:focus { color: $grey-dark; }
    }
}