@use '../../assets/sass' as *;

.Success {
    @include moveDown;
    @include gradienty;
    height: calc(100vh - 7.5rem);
    width: 100%;
    background: url('../../assets/images/Samsung+Galaxy+S10+5G+stock.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &__body {
        margin-top: 10rem;
    }

    &__text {
        max-width: 45rem;
        display: inline-block;
    }
}