@use '../../assets/sass' as *;

.Categories {
    @include moveDown;
    @include gradienty;
    padding: 11.5rem 0;
    padding-top: 8.5rem;

    &__head {
        display: flex;
        align-items: flex-end;
        margin-bottom: 3.5rem;
        position: relative;
        z-index: 2;
        
        &--main {
            justify-content: space-between;
            margin-bottom: 4rem;
        }
    }

    &__body {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    &__group {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 19rem));
        column-gap: 3rem;
        row-gap: 6rem;
        
        &:not(:last-child) { margin-bottom: 5rem; }
    }

    &__form {
        position: relative;
        width: max-content;
    }

    &__search-btn {
        position: absolute;
        top: 50%;
        right: 1.7rem;
        transform: translateY(-50%);
        z-index: 1;
    }
}