.App {
    text-align: center;
    z-index: 9999;
    position: relative;
}

.contentBox {
    position: fixed;
    top: 0;
    left: 0;
}

.Section {
    display: flex;

    &__jumbotron {
        width: 50vw;
    }

    &__showcase {
        height: 100vh;
        width: 50vw;
        position: relative;
    }

    &__show {
        height: 100%;
        width: 100vh;
        // background-image: url('./noback-s20-dgrey');
        background-color: aqua;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        
        &--top {
            background-color: transparent;
            bottom: 0;
            height: 0;
            position: absolute;
            z-index: 10;
        }

        &--grey {
            background-color: #777;
        }
        
        &--blue {
            background-image: url('./template_s20_1920x1080-blue-crop.png');
        }
        
        &--yellow {
            background-image: url('./template_s20_1920x1080-yellow-crop.png');
        }
    }

    &__img {
        width: 100%;
        height: 0;
    }
}

.info {
    position: fixed; 
    z-index: 9999;
    top: 0;
    text-align: initial;
    color: #fff;
}