@use '../../../assets/sass' as *;

.m-header {
    @include gradienty;
    background: $pitch;

    &::after { 
        background-image: 
            linear-gradient(130deg, transparent 80%, rgba($yellow, .2)); 
    }

    &__list {
        width: 100vw;
        height: calc(100vh - 6.5rem);
    }

    &__section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 50% auto;
            background-repeat: no-repeat;
            background-position: center;

            @include respond(xs) { background-size: 70%; }

            @include respond(ss) {
                background-size: contain;
                background-position: right;
            }
        }
        
        &:first-child::after {
            background-position: bottom right;
            background-image: url('../../../assets/images/Project\ 1-tiny.png');
        }

        &:nth-child(2)::after {
            background-image: url('../../../assets/images/P30\ Pro-1.png');
        }

        &:nth-child(3)::after {
            background-image: url('../../../assets/images/P30\ Pro-2.png');
        }

        &:nth-child(4)::after {
            background-image: url('../../../assets/images/P30\ Pro-1.png');
        }

        &:nth-child(5)::after {
            background-image: url('../../../assets/images/P30\ Pro-2.png');
        }

        &:nth-child(6)::after {
            background-image: url('../../../assets/images/P30\ Pro-1.png');
        }

        &:nth-child(7)::after {
            background-image: url('../../../assets/images/P30\ Pro-2.png');
        }

        &:nth-child(8)::after {
            background-image: url('../../../assets/images/P30\ Pro-1.png');
        }

        &:nth-child(9)::after {
            background-image: url('../../../assets/images/P30\ Pro-2.png');
        }

        &:not(:first-child) { animation: none; }
    }

    &__jumbo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 100vh;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    &__hero {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 25%);
        font-size: 2rem;
        color: $white;
        width: 30rem;
        text-align: center;
        
        p { line-height: 1.4 !important; }
        
        // @include respond(xs) {
        //     top: 7%;
        //     transform: translateX(-50%);
        // }
    }

    &__figure {
        width: 10rem;
        height: auto;
        transform: rotate(-90deg) translate(-4rem, 4rem);

        @include respond(ss) { width: 9rem; }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        font-size: 4.5rem;
        background: $gradient-jumbo;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 400;
        line-height: 1.15;

        &--secondary {
            font-size: 3rem;
            color: $yellow;
            font-weight: 400;
        }
        
        &--sub {
            font-size: 1.9rem;
            color: $grey-light;
            font-weight: 300;
            transform: translateY(-1rem);

            @include respond(ss) { line-height: 2; }

            @include respond(ms) {
                transform: translateY(0);
                margin-bottom: 1rem;
            }
        }
    }
}