@use '../../assets/sass' as *;

.Header {
    position: relative;
    z-index: 95;
    background: $pitch;
    
    &__section {
        display: flex;
        position: relative;
        
        &:first-child { z-index: 105; }
        
        &:nth-child(2) { z-index: 104; }
        
        &:last-child { z-index: 103; }
        
        &:not(:first-child) { justify-content: flex-end; }
    }

    // FIRST BLOCK
    &__section:first-child &__popper {
        background-image: url('../../assets/images/P30\ Pro-1.png');
    }
    
    &__section:first-child &__popperbg {
        background-image: url('../../assets/images/P30\ Pro-2.png');
    }
    
    // 2ND BLOCK
    &__section:nth-child(2) &__popper {
        background-image: url('../../assets/images/P30\ Pro-1.png');
    }
    
    &__section:nth-child(2) &__popperbg {
        background-image: url('../../assets/images/P30\ Pro-2.png');
    }
    
    // 3RD BLOCK
    &__section:nth-child(3) &__popper {
        background-image: url('../../assets/images/P30\ Pro-1.png');
    }
    
    &__section:nth-child(3) &__popperbg {
        background-image: url('../../assets/images/P30\ Pro-2.png');
    }
    
    // 4TH BLOCK
    &__section:last-child &__popper {
        background-image: url('../../assets/images/P30\ Pro-1.png');
    }

    &__section:last-child &__popperbg {
        background-image: url('../../assets/images/P30\ Pro-2.png');
    }
    
    &__jumbotron {
        height: 100vh;
        width: 100vw;
        position: relative;
        z-index: 1;
        transition: all .7s ease;

        &--slideBack { width: 15vw; }
    }

    &__hero {
        position: fixed;
        top: 50%;
        left: 45%;
        transform: translateY(-50%) translateX(-50%);
        transition: all .65s ease;
        z-index: 10;
    }
    
    &__bg {
        @include gradienty;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        
        &::after {
            animation-delay: .6s;
            background: linear-gradient(130deg, $pitch 80%, rgba($yellow, .35));
            z-index: -1;
        }

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            animation-delay: 1s;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-image: url('../../assets/images/Project\ 1-tiny.png');
        }
    }

    &__bg-gradient {
        width: 15vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        background: linear-gradient(135deg, rgba($yellow, .3) 0%, transparent 40%, transparent);
        z-index: 1;
        animation-delay: .7s !important;
    }

    &__logobox {
        transform: translateX(4.75vw) rotate(-90deg);
        width: max-content;
        transition: all .4s ease;
    }
    
    &__fig {
        width: 8.5vw;
        height: auto;
    }

    &__textbox {
        transition: all .65s ease;
        transform: translateY(-4.5vw);
    }

    &__poppercase {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 0;
        overflow: hidden;
        position: relative;
        transition: all .7s ease;
        z-index: 2;
        font-size: 3rem;
        color: #fff;
        
        &--expand { width: 85vw; }
    }

    &__heading--secondary {
        font-size: 3vw;
        font-weight: 400;
        color: $yellow;

        p { line-height: 1.4 !important; }
    }

    &__poppercase--expand &__popper-text { display: inline-block; }
    &__poppercase--expand &__popper::after { content: ""; }

    &__popper {
        height: 100%;
        width: 100%;
        transition: height .15s ease;
        position: relative;
        z-index: 9;
        background: #252525;

        &::after {
            content: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation-delay: .5s;
            // background-image: linear-gradient(130deg, transparent 20%, rgba(#fff, .7), transparent 30%, transparent);
        }
    }
    
    &__popperbg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #141414;
    }

    &__popper-text {
        position: absolute;
        top: 40%;
        left: 30%;
        display: none;
        transform: translate(-30%, -30%);
        z-index: 11;
        animation-delay: .2s;
        max-width: 50rem;
    }
    
    &__popper,
    &__popperbg {
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &__btn {
        font-size: .95vw;
        padding: .85vw 3.35vw;

        @include respond(xl) {
            font-size: 1.75rem;
            padding: 1.75rem 5rem;
        }
    }

    &__heading {
        // font-size: 5.5rem;
        font-size: 4vw;
        margin-bottom: 2.5vw;
        letter-spacing: .05px;
        font-weight: 400;
        color: transparent;
        background-image: $gradient-jumbo;
        background-clip: text;
        -webkit-background-clip: text;

        &--sub {
            // font-size: 2rem;
            font-size: 1.5vw;
            line-height: .5;
            font-weight: 300;
            color: $grey-light;
        }

        @include respond(xl) {
            font-size: 5.5rem;
            margin-bottom: 4rem;

            &--sub {
                font-size: 2.5rem;
            }
        }
    }

    &__jumbotron--slideBack &__bg::after,
    &__jumbotron--slideBack &__bg::before { content: none; }

    // &__jumbotron--slideBack &__bg-gradient { display: inline-block; }

    &__jumbotron--slideBack &__hero {
        padding: 0;
        left: 0;
        transform: translateY(-50%) translateX(0);
    }

    &__jumbotron--slideBack &__logobox {
        transform: rotate(0) translateX(0) translateY(12vh);
        padding-left: 3.5vw;
    }

    &__jumbotron--slideBack &__textbox {
        transform: translateY(9vh);
        opacity: 0;
        visibility: hidden;
    }
}