@use '../../assets/sass' as *;

.Header {
    position: relative;
    z-index: 95;
    
    &__section {
        display: flex;
        position: relative;
        
        &:first-child { z-index: 105; }
        
        &:nth-child(2) { z-index: 104; }
        
        &:last-child { z-index: 103; }
        
        &:not(:first-child) { justify-content: flex-end; }
    }
    
    &__jumbotron {
        height: 100vh;
        width: 100vw;
        position: relative;
        z-index: 1;
        transition: all .7s ease;

        &--slideBack {
            width: 15vw;
            background-image: none;
        }
    }

    &__hero {
        position: fixed;
        top: 50%;
        left: 45%;
        transform: translateY(-50%) translateX(-50%);
        transition: all .65s ease;
        z-index: 10;
    }
    
    &__bg {
        @include gradienty;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .3s ease;

        &::after {
            animation-delay: .6s;
            background: linear-gradient(130deg, $bg 80%, rgba($yellow, .35));
            z-index: -1;
        }

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            animation-delay: 1s;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-image: url('../../assets/images/Project\ 1.png');
        }
    }

    &__logobox {
        transform: translateX(4.75vw) rotate(-90deg);
        width: max-content;
        transition: all .4s ease;
    }
    
    &__fig {
        width: 8.5vw;
        height: auto;
    }

    &__textbox {
        transition: all .65s ease;
        transform: translateY(-4.5vw);
    }

    &__poppercase {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 0;
        position: relative;
        transition: all .7s ease;
        background: #dfdfdf;
        z-index: 2;
        box-shadow: -1rem 0 2.5rem rgba($pitch, .25);
        background: rgba(#161616, .7);
        
        font-size: 3rem;
        color: #fff;

        &--expand { width: 85vw; }
    }

    &__popper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        transition: height .15s ease;
        position: relative;
        z-index: 9;
        background-image: url('../../assets/images/Samsung+Galaxy+S10+5G+stock.png');
    }
    
    
    &__popperbg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        // background-color: #3c7ff3;
        background-image: url('../../assets/images/Samsung_galaxya51_black_back\ stock.png');
    }
    
    &__popper,
    &__popperbg {
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &__btn {
        font-size: .95vw;
        padding: .85vw 3.35vw;

        @include respond(xl) {
            font-size: 1.75rem;
            padding: 1.75rem 5rem;
        }
    }

    &__heading {
        // font-size: 5.5rem;
        font-size: 4vw;
        margin-bottom: 2.5vw;
        letter-spacing: .05px;
        font-weight: 400;
        color: transparent;
        background-image: $gradient-jumbo;
        background-clip: text;
        -webkit-background-clip: text;

        &--sub {
            // font-size: 2rem;
            font-size: 1.5vw;
            line-height: .5;
            font-weight: 300;
            color: $grey-light;
        }

        @include respond(xl) {
            font-size: 5.5rem;
            margin-bottom: 4rem;

            &--sub {
                font-size: 2.5rem;
            }
        }
    }

    &__jumbotron--slideBack &__bg::after,
    &__jumbotron--slideBack &__bg::before { content: none; }

    &__jumbotron--slideBack &__hero {
        background: none;
        backdrop-filter: blur(0);
        padding: 0;
        left: 0;
        transform: translateY(-50%) translateX(0);
    }

    &__jumbotron--slideBack &__logobox {
        transform: rotate(0) translateX(0) translateY(12vh);
        padding-left: 3.5vw;
    }

    &__jumbotron--slideBack &__textbox {
        transform: translateY(9vh);
        opacity: 0;
        visibility: hidden;
    }
}