@use '../../../assets/sass' as *;

.m-main {

    &__body { padding: 3rem 0; }

    &__top,
    &__bottom { width: 100%; }
   
    &__top {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bottom {
        width: 100%;
        background: $pitch;
        // box-shadow: 0 1rem 1.5rem rgba($pitch, .7), 0 -.75rem 1.5rem rgba($pitch, .7);
        padding: 2.25rem 2.5rem;
        padding-bottom: 3.5rem;
        position: relative;
        z-index: 1;
        // height: 50rem;
    }

    &__figure {
        width: auto;
        height: 35rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__panel { margin-top: -4rem; }

    &__list {
        position: relative;
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        border-radius: .75rem; 
        overflow: hidden;
    }

    &__sets-item {
        height: 100%;
        width: 100%;
        background: $grey-light;
        border-radius: .75rem;
        overflow: hidden;

        &--active { background: rgba($grey-dark, .75); }
    }
    
    &__title {
        margin-top: 1.5rem;
        font-size: 1.9rem;
    }

    &__summary {
        width: 100%;
        background: $black;
        padding: 3rem 0;
    }

    &__btn {
        display: flex;
        align-items: center;
        background: $gradient-main;
        padding: 1.25rem 1.75rem;
        border-radius: .55rem;
        font-size: 1.45rem;
        color: $light;
        text-transform: capitalize;

        &--active { background: $primary; }

        &:disabled { opacity: .6; }
    }

    &__control {
        &--left { left: -2.5rem; }
        &--right { right: -2.5rem; }
    }

    &__price {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
    }
}