@use '../../../assets/sass' as *;

.m-main {

    &__body {
        padding: 3rem 0;
    }

    &__top,
    &__bottom {
        width: 100%;
        justify-content: center;
    }
   
    &__top {
        margin-bottom: 3rem;
    }

    &__bottom {
        width: 100%;
        background: $pitch;
        box-shadow: 0 0 1.5rem rgba($pitch, .7);
        padding: 2.25rem 2.5rem;
    }

    &__figure {
        width: 35rem;
        height: auto;
    }

    &__list {
        position: relative;
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        border-radius: .75rem; 
        overflow: hidden;
    }

    &__sets-item {
        height: 100%;
        width: 100%;
        background: $grey-light;
        border-radius: .75rem;
    }
    
    &__title {
        margin-top: 1.5rem;
        font-size: 1.9rem;
    }
}