@use './index' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  animation: fadeIn .45s ease;
  animation-fill-mode: backwards;

  @media screen and (prefers-reduced-motion: reduce) {  
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

html {
  font-size: 62.5%;

  @include respond(mid) { font-size: 57.8125%; }
}

body {
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeLegibility;
  background: $bg;
}

input,
textarea {
  border: none;
  font-family: inherit;

  &:focus { outline: none; }
}

ul { list-style: none; }

svg {
  display: flex;
  fill: #fff;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  
  &:focus {
    outline: none;
  }
}

[tabIndex="0"] {
  cursor: pointer;

  &:focus { outline: none; }
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance: textfield; }