@use './index' as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $pitch;
    font-size: 1.4rem;
    
    &__primary {
        background-image: $gradient-main;
        transition: all .4s ease-out;
        
        &::after {
            content: "";
            background-image: $gradient-main;
        }
        
        &:hover,
        &:focus {
            transform: scale(1.08);
            
            &::after {
                transform: scale(1.6);
                opacity: 0;
            }
        }
        
        &--noanim {
            text-transform: capitalize;
            transition: none;
            
            &:hover,
            &:focus {
                transform: scale(1);
            }
            
            &::after {
                content: none;
                display: none;
            }
        }
    }
    
    &__secondary {
        
        &::after {
            background-color: $yellow;
            width: 11.75rem;
            height: 5rem;
            top: -.2rem;
            left: -.2rem;
        }

        &:hover,
        &:focus {
            background: $yellow;
            color: #353535;
            transform: scale(1.08);
            
            &::after {
                transform: scale(1.6);
                opacity: 0;
                visibility: visible;
            }
        }

        &--fill {
            background: $yellow;
            border: none;
            color: #353535;

            &::after {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    &__primary,
    &__secondary {
        font-weight: 500;
        text-transform: uppercase;
        padding: 1.25rem 4.25rem;
        font-size: 1.4rem;
        border-radius: 3.5rem;
        position: relative;
        transition: all .5s ease;
        backface-visibility: hidden;
        color: $black;

        &::after {
            content: "";
            transition: all .4s ease;
            border-radius: 3rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transform-origin: center;
        }
    }

    &__fill {
        background-color: $yellow;

        &::after {
            content: none;
        }
    }

    &__square {
        width: 6.5rem;
        height: 6.5rem;
        background: $white;
        border-radius: .7rem;

        &:hover,
        &:focus {
            background: $grey-light;

            svg { fill: $white; }
        }

        @include respond(sm) {
            width: 5rem;
            height: 5rem;
            border-radius: .55rem;
        }
    }

    &__ghost {
        padding: 1.25rem;
        border-radius: .55rem;

        &:not(.btn__ghost--active):hover,
        &:focus {
            background: rgba($grey-dark, .7);

            svg { fill: $white; }
        }
        
        &--active {
            background: rgba($grey-dark, .7);
            color: $white;
            padding: 1.25rem 2.25rem;
            font-weight: 300;

            svg { fill: $white; }

            &:hover,
            &:focus {
                background: $grey-dark;

                &:disabled { background: rgba($grey-dark, .7); }
            }
        }

        // @include respond(mid) { padding: 1rem; }
    }

    &__circle {
        width: 2.75rem;
        height: 2.75rem;
        background: $pitch;
        border-radius: 50%;
        border: 1px solid rgba($grey-dark, .6);
    }

    &:disabled {
        opacity: .7;
        cursor: default;
    }

    &__pill {
        border: 1px solid rgba($primary, .5);
        padding: .55rem 1.85rem;
        border-radius: 3rem;
        color: $light;
        font-weight: 300;
        font-size: 1.35rem;

        &:not(.btn__pill--yellow):hover,
        &:not(.btn__pill--yellow):focus {
            background: $primary;
            border-color: transparent;
            color: $white;
        }

        &--red {
            border-color: rgba($red, .5);

            &:hover,
            &:focus { background: $red !important; }
        }

        &--yellow {
            border-color: rgba($yellow, .5);

            &:hover,
            &:focus {
                background: $black;
                color: $yellow;
            }
        }
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        transition: transform .25s ease-in-out;
        transform-origin: top center;
        
        &::after {
            content: "";
            border-width: 1.75rem;
            border-style: solid;
            border-color: transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }

        &--prev {
            left: -4rem;

            &::after {
                border-right-color: $black;
                left: -120%;
            }
        }

        &--next {
            right: -4rem;

            &::after { 
                border-left-color: $black;
                right: -120%;
            }
        }

        &--disabled { display: none; }

        svg {
            position: relative;
            z-index: 1;
        }

        &:hover,
        &:focus { transform: scale(1.25) translateY(-50%); }
    }
}