@use '../../assets/sass' as *;

.container {
    max-width: $row-width;
    margin: 0 auto;

    @include respond(row) { padding: 0 3rem; }
    @include respond(ms) { padding: 0 5rem; }
}

.input {

    &--searchbar {
        padding: .55rem 2.5rem;
        background: $light;
        color: $black;
        font-size: 1.3rem;
        border-radius: 3rem;
        width: 25rem;
        transition: width .3s ease-in-out;

        &:focus {
            width: 32rem;
            box-shadow: 0 0 .75rem rgba($pitch, .5);
        }
    }

    &__figure {
        width: 4rem;
        display: flex;
        align-items: center;
        height: auto;
    }

    &__drop-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: .5rem 0;

        &:hover,
        &:focus {
            background: $grey-light;
            border-radius: .55rem;
        }

        &:not(:last-child) { border-bottom: 1px solid rgba($pitch, .075); }
    }

    &__dropdown {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 110%;
        transition: all .15s ease;
        padding: 1.5rem 2.5rem;
        left: 0;
        min-height: 10rem;
        width: 100%;
        background: $light;
        border-radius: 1.5rem;
        box-shadow: 0 0 .75rem rgba($pitch, .5);
        font-size: 1.3rem;
        color: $grey-dark;
    }

    &--clear-btn {
        position: absolute;
        top: 50%;
        right: 4.5rem;
        z-index: 1;
        transform: translateY(-50%);
        display: inline-block;
    }

    &:placeholder-shown ~ &--clear-btn { display: none; }

    &:focus ~ &__dropdown { display: flex; }

    &--main {
        background: $grey-light;
        font-size: 1.35rem;
        padding: 1rem 2.25rem;
        border-radius: .55rem;
        transition: background .25s ease;
        font-weight: 500;
        color: $black;
        border: 2px solid transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:invalid { border-color: $red; }
        
        &:hover,
        &:focus { background: $light; }
        
        &:focus {
            border-color: $primary;
            color: $pitch;
        }
    }

    &--label {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: $light;
        margin-bottom: 1rem;
    }
}

.tag {
    padding: .75rem 2rem;
    border-radius: 3rem;
    background: $gradient-main;
    font-size: 1.4rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    fill: $white;
    transition: all .2s ease;

    &--dark { fill: $black; }

    &--grey { fill: $light; }

    &--sm {
        width: 1.7rem;
        height: 1.7rem;
    }

    &--lg {
        width: 3.5rem;
        height: 3.5rem;
    }

    &--mid {
        width: 3rem;
        height: 3rem;
    }

    @include respond(sm) {
        
        &--lg {
            width: 3rem;
            height: 3rem;
        }

        &--mid {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.bull {

    &--main {
        font-size: 1.75rem;
        color: $grey-dark;
    }
}

.main-head {
    background: $light;
    padding: 3rem 0;

    @include respond(sm) { padding: 1.75rem 0; }
}

.section-body {
    padding: 4rem 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price-tag {
    background: $bg;
    padding: 1rem 2rem;
    border-radius: .55rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: $white;
    box-shadow: 0 0 .7rem rgba($pitch, .3);
}

.link {
    &--outline {
        border-bottom: 1px solid rgba($yellow, .8);

        &:hover { color: $yellow; }
    }
}