@use '../../assets/sass' as *;

.heading {
    font-weight: 500;
    color: $light;
    line-height: 1;
    text-shadow: 0 0 20px rgba(#000, .25);
    text-transform: capitalize;
    display: inline-block;
    transition: all .3s ease-in-out;

    &--1 {
        font-size: 3.25rem;
        font-weight: 300;
        display: inline-block;
        max-width: 60rem;
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
        height: max-content;
    }

    &--main {
        font-weight: 300;
        font-size: 2.25rem;
        color: $grey-light;
    }

    &--black { color: $black; }

    &--sm {
        font-size: 1.7rem;
        color: $black;
        font-weight: 600;
    }

    &--sub {
        color: $grey-dark;
        font-size: 1.4rem;
    }
}

.text {
    color: $light;
    letter-spacing: -.15px;
    line-height: 1.5;
    
    &--main {
        font-size: 1.5rem;
        letter-spacing: .25px;
        font-weight: 300;
    }
    
    &--cap { text-transform: capitalize; }
    
    &--mid {
        font-size: 1.75rem;
        color: $grey-light;
        font-weight: 300;
    }
    
    &--sm { font-size: 1.3rem; }
    
    &--xs { font-size: 1.2rem; }

    &--wrap {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    @include respond(sm) {
        &--main { font-size: 1.6rem; }

        &--mid { font-size: 1.8rem; }

        &--sm { font-size: 1.4rem; }
        
        &--xs { font-size: 1.3rem; }
    }
}