$bg: #242222;
$pitch: #161616;
$white: #eee;
$black: #353535;
$light: #cacaca;
$grey-dark: #555;
$grey-light: #a5a5a5;
$primary: #3c7ff3;
$primary-light: #15a8fb;
$secondary: #8035e4;
$secondary-light: #5c54ec;
$yellow: #f1c40f;

$row-width: 120rem;

$gradient-main: linear-gradient(-40deg, #8035e4 13%, #5c54ec 27%,  #4c6cec 54%, #3c7ff3, 75%, #2c94f4 90%, #15a8fb);
$gradient-hover: linear-gradient(-40deg, #8035e4 35%, #5c54ec 47%,  #4c6cec 67%, #3c7ff3, 85%, #2c94f4 95%, #15a8fb);
$gradient-light: linear-gradient(120deg, $primary 75%, $primary-light);
$gradient-grace-yellow: linear-gradient(130deg, rgba($yellow, .9) 5%, transparent 45%, rgba($yellow, .9) 100%);
$gradient-grace-primary: linear-gradient(130deg, rgba($primary, .9) 5%, transparent 45%, rgba($primary, .9) 100%);
$gradient-grace-mixed: linear-gradient(130deg, rgba($primary, .9) 5%, $yellow 45%, rgba($primary, .9) 100%);
$gradient-grace-exclusive: linear-gradient(130deg, rgba($primary, .9) 10%, $secondary 60%, $yellow 70%, rgba($primary, .9) 100%);